.main {
  background-color: black;
  color: white;
  text-align: center;
  padding: 3%;
  margin-top: 5%;
}

.main .inp {
  text-align: center;
  margin-bottom: 30px;
  /* width: 100%; */
  background-color: black;
  color: wheat;
  border: none;
  font-size: 50px;
}

table {
  margin: auto auto;
  border-collapse: collapse;
  width: 80%;
  border: 4px solid rgb(190, 247, 168);
  color: white;
  font-size: large;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: rgb(161, 161, 161);
}

.expences {
  overflow-y: auto;
  overflow-x: hidden;
  height: 303px;
}

input {
  margin-bottom: 50px;
  padding: 1%;
  font-size: large;
}

.input1 {
  margin: 50px;
  padding: 1%;
  font-size: large;
}
button {
  padding: 1%;
}

.money {
  margin-top: 3%;
  font-size: x-large;
  text-transform: capitalize;
}

span {
  color: rgba(43, 175, 236, 0.835);
  border: 1px solid orange;
  padding: 1%;
}
